.offers-title {
    font-size: 32px;
    font-weight: 400;
    color: #272838;
}
.offers-panel-wrapper p {
    font-size: 22px;
    font-weight: 300;
    margin-top: 1rem;
}
p a {
    color: #272838;
    font-weight: 500;
}
.remove-single-item {
    scale:  1.06;
    margin: 0;
}
p a:hover, .remove-single-item:hover {
    color: #99350a;
}
.offer-form {
    padding: 1rem;
    background-color: #F2F2F2;
    border-radius: 8px;
    margin-top: 1rem;
}
.company-data-fields {
    display: grid;
    grid-template-columns: repeat(2,50%);
    grid-template-rows: auto;
}
.company-data-fields :nth-child(even) {
    margin-left: 1rem;
}
.ant-form-item-required {
    width: 130px !important;
}
.single-product-placing {
    display: flex;
    flex-wrap: wrap;
}
.single-product-placing > div {
    flex: 48%;
}
.single-product {
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 8px;
    padding: 0.5rem;
    margin-top: 1rem;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
}
.add-product {
    display: block;
    flex: 100% !important;
}
.offer-btn {
    margin-top: 1rem;
    width: 100%;
}
.submit-btn-offer {
    border-radius: 8px;
    text-align: center;
    padding: 0.5rem 1.4rem;
    height: unset !important;
    color: #F2F2F2;
    background-color: #616177;
}
.submit-btn-offer:hover {
    background-color: #444456;
}
.upload-file-button {
    border-style: dashed !important;
}
.clear-all-fields-btn {
    float: right;
    background-color: #71718c;
    color: #F2F2F2;
    text-align: center;
    border-radius: 8px;
    border-color: unset !important;
    border: none;
}
.clear-all-fields-btn:hover {
    transition: 300ms ease-in-out;
    background-color: #99350a;
    color: #F2F2F2 !important;
}
.offer-form-title {

}
@media all and (max-width: 920px) {
    .single-product-placing {
        display: grid;
    }
}
@media all and (max-width: 700px) {
    .offers-title {
        font-size: 28px;
    }
    .offers-panel-wrapper p {
        font-size: 20px;
    }
    .company-data-fields {
        grid-template-columns: repeat(1, 100%);
    }
    .company-data-fields :nth-child(even) {
        margin-left: 0;
    }
}
@media all and (max-width: 430px) {
    .offers-title {
        font-size: 24px;
    }
    .offers-panel-wrapper p {
        font-size: 16px;
    }
    .clear-all-fields-btn {
        font-size: 12px;
        padding: 0 8px;
    }
}
@media all and (max-width: 320px) {
    .ant-radio-group {
        display: grid;
        gap: 0.2rem;
    }
    .ant-radio-button-wrapper {
        border-radius: 6px;
        border-inline-start: 1px solid #d9d9d9;
    }
    .ant-radio-button-wrapper::before {
        background-color: unset !important;
    }
}