*{
    margin: 0;
    padding: 0;
}
.ant-layout-content {
    margin: 0 16px;
}
.ant-breadcrumb {
    margin: 16px 0;
}
.ant-layout {
    min-height: 100vh;
    background-color: #AAAABC;
}
.ant-layout-footer {
    text-align: center;
    background-color: #AAAABC;
}
.logout-button {
    position: absolute;
    right: 0;
    top: 0;
    margin: 16px 16px 16px 0;
    border-radius: 8px;
    background-color: #454555;
    border: none;
    padding: 8px 20px;
    color: rgba(255, 255, 255, 0.8);
}
.logout-button:hover {
    color: white;
    transition: background 0.3s, cubic-bezier(0.215, 0.61, 0.355, 1);

}
.site-layout-background {
    padding: 24px 10px;
}