*{
    margin: 0;
    padding: 0;
}
.ant-layout-content {
    margin: 0 16px;
}
.ant-breadcrumb {
    margin: 16px 0;
}
.ant-layout {
    min-height: 100vh;
    background-color: #AAAABC;
}
.ant-layout-footer {
    text-align: center;
    background-color: #AAAABC;
}
.logout-button {
    position: absolute;
    right: 0;
    top: 0;
    margin: 16px 16px 16px 0;
    border-radius: 8px;
    background-color: #454555;
    border: none;
    padding: .6rem 1.2rem;
    color: rgba(255, 255, 255, 0.8);
    font-size: 15px;
}
.logout-button:hover {
    color: white;
    transition: background 0.3s, cubic-bezier(0.215, 0.61, 0.355, 1);

}
.site-layout-background {
    padding: 24px 10px;
}
.menuCon {
    min-height: 100vh;
    background-color: #272838;
}
@media all and (max-width: 1024px) {
    .menuCon {
        background-color: #272838;
    }
}
@media all and (max-width: 810px) {
    .menuCon {
        background-color: #AAAABC;
    }
    .site-layout-background {
        display: grid;
        justify-content: center;
        align-items: center;
    }

}
@media all and (max-width: 600px) {
    .site-layout-background {
        margin-left: -30px;
    }
    .logout-button {
        font-size: 14px;
        margin: 10px 5px 5px 0;
    }
}
@media all and (max-width: 430px) {
    body {
        background-color: #AAAABC;
    }
    .site-layout-background {
        margin-left: -70px;
    }
    .logout-button {
        font-size: 10px;
        margin: 10px 5px 5px 0;
        padding: .5rem .8rem;
    }
}
